:root{
    --colorGlogal:"rgba(161, 3, 187, 1)";
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: rgb(255, 255, 255);
    scroll-behavior: smooth;
}

/* ************ GENERAL ************ */
.titulos h2 {
    padding: 4rem 0 1rem;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 0 10px rgb(96, 152, 204);
}
.titulos h2::before{
    content: "<";
}

.titulos h2::after{
    content: " />";
}


/***CABECERA***/
.main{
    background-image: url("../imagenes/portada2.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}


/****MENÚ****/
.main-nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(96, 152, 204);
    z-index: 10;
}

.main-nav__list{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.main-nav__item{
    padding: 5px 20px;
}

.main-nav__link{
    padding: 5px 2px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.main-nav__link:hover{
    text-decoration: underline;

}

/*****CARD PRESENTACIÓN******/
.card-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    height: 100vh;
}

.card-section{
    margin-left: 20px;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(96, 152, 204, 0.288);
    border-radius: 15px;
}

.card-name__name{
    padding: 10px 0;
    font-size: 60px;
    text-shadow: 0 0 15px rgb(96, 152, 204);
}

.enlaces{
    height: 30px;
    margin: 15px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.enlaces__link{
    padding: 5px 15px;
    color: white;
    text-decoration: none;
    background-color: rgb(96, 152, 204);
    border: 2px solid rgb(96, 152, 204);
    border-radius: 20px;
}

.enlaces__link:hover{
    padding: 5px 15px;
    background-color: transparent;
}


/* ************Precentacion************* */

.presentacion{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.presentacion-info{
    padding: 20px;
    text-align: justify;
}


.presentacion-info p{
    padding:0 55px 20px;
    font-size: 1.7rem;
}

.presentacion img{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
    filter: drop-shadow(0 0 10px rgb(96, 152, 204));
}


/* DOCUMENTACION DE ICONOS */

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }



  /* *************************** HABILIDADES *************************** */
  

.habilidades-iconsP {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.habilidades-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4rem;
    border: .25rem solid rgb(96, 152, 204);
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
}

.habilidades-icons img {
    width: 75px;
    padding: 10px 0;
    padding-left: 5px;
}

.habilidades-icons div {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
    /* *************************** PORTAFOLIO *************************** */


.portafolio-evidencia {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 2rem;
}

.portafolio-trabajos {
    position: relative;
    height: 35vh;
    margin: 0 2rem 3rem;
    border-radius: 10px;
    box-shadow: 5px -5px 10px 1px rgb(96, 152, 204);
    overflow: hidden;
}

.portafolio-trabajos img {
    max-width: 100%;
}

.portafolio-trabajos__info {
    position: absolute;
    top: 11.4rem;
    width: 100%;
    height: auto;
    font-size: 1.3rem;
    color: white;
    background-color: rgba(96, 152, 204, 0.267);
    transition: 1s;
}
.portafolio-trabajos:hover .portafolio-trabajos__info{
    top:80px;
}

.portafolio-trabajos__info h4 {
    margin-bottom: 2px;
    padding: .30rem;
    font-weight: bold;
}


.portafolio-info__tecnologias {
    display: flex;
    justify-content: space-between;
    margin: .5rem 5px;
}

.portafolio-info__tecnologias img{
    width: 2rem;
}

.portafolio-info__tecnologias a {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    padding: 2px .5rem 0;
    color: white;
    text-decoration: none;
    background-color: rgb(96, 152, 204);
    border: 2px solid rgb(96, 152, 204);
    border-radius: 20px;
}

.portafolio-info__tecnologias a:hover {
    border: 2px solid rgb(96, 152, 204);
    background-color: transparent;
}