:root{
    --step--2: clamp(0.91rem, 0.89rem + 0.10vw, 0.96rem);
    --step--1: clamp(1.09rem, 1.05rem + 0.21vw, 1.20rem);
    --step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.50rem); /* h6 */
    --step-1: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
    --step-2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
    --step-3: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);
    --step-4: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
    --step-5: clamp(3.27rem, 2.75rem + 2.56vw, 4.58rem); /* h1 */


    --azulBase:rgb(96, 152, 204);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: rgb(255, 255, 255);
    scroll-behavior: smooth;
}

/* ************ GENERAL ************ */
.titulos h2 {
    padding: 4rem 0 1rem;
    font-size: var(--step-4);
    text-align: center;
    text-shadow: 0 0 10px var(--azulBase);
}
.titulos h2::before{
    content: "<";
}

.titulos h2::after{
    content: " />";
}

/* *********** hambueguesa ******************** */



.off-canvas-btn {
    position:fixed;
    top: .5rem;
    right: 1rem;
    z-index: 100;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    opacity: 0;
}

.off-canvas-burger {
    position:fixed;
    top: 2.5rem;
    right: 1rem;
    z-index: 90;
    width: 3rem;
    height: .6rem;
    background-color: rgb(4, 108, 150);
    border-radius: .3rem;
    transform: rotate(0deg) translate(0, -1.2rem);
    transition: transform 1s ease, backgroud-color 500ms ease;
    transform-origin: top left;
}


.off-canvas-burger::before,
.off-canvas-burger::after {
    content: "";
    display: block;
    width: 100%;
    height: .6rem;
    background-color: rgb(4, 108, 150);
    border-radius: .3rem;
    transition: transform 1s ease;
}

.off-canvas-burger::before {
    transform: rotate(0deg) translate(0, -.9rem);
}
.off-canvas-burger::after {
    transform: rotate(0deg) translate(0, .3rem);
}


.off-canvas-btn:checked + .off-canvas-burger {
    background-color: transparent;
}


.off-canvas-btn:checked + .off-canvas-burger::before {
    transform: rotate(45deg) translate(0,0);

}
.off-canvas-btn:checked + .off-canvas-burger::after {
    transform: rotate(-45deg) translate(.4rem,-.5rem);
}

.off-canvas-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 80;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 164, 207);
    transform: translate(100% ,0);
    transition: transform 1s ease-in-out;
}

.off-canvas-menu-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.off-canvas-link {
    border-bottom: thin solid rgb(1, 27, 66);
    padding: 2rem;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: background-color 300ms ease;
}

.off-canvas-link:nth-child(1) {
    border-top: thin solid rgb(1, 27, 66);
}

.off-canvas-link:hover {
    background-color:var(--azulBase);
    
}

.off-canvas-btn:checked ~ .off-canvas-menu {
    transform: translate(0,0);
}

.off-canvas-menu-cerrar{
    transform: translateX(100%);
}


/****************** CABECERA **********************/
.main{
    width: 100%;
    height: 100vh;
    background-image: url("../imagenes/portada2.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}


/****MENÚ****/
.main-nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(96, 152, 204);
    z-index: 10;
}

.main-nav__list{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.main-nav__item{
    padding: 5px 20px;
}

.main-nav__link{
    margin-left: .5rem;
    padding: 5px 2px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.main-nav__link:hover{
    text-decoration: underline;

}


.active {
    visibility: collapse;
}

/********************** CARD NOMBRE ****************/
.card-name {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-section {
    width: 90%;
    height: auto;
    padding: 2rem;
    background-color: rgba(96, 152, 204, 0.459);
    box-shadow: 0 0 5px white;
    border-radius: 1rem;
}

.card-name__p {
    color: rgb(8, 8, 124);
}

@keyframes entrada {
    0% {
        transform: translateY(-3rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
    }
}
.card-name__name {
    margin-top: .5rem;
    font-size: 3rem;
    animation: entrada 2s ease;
}

 

.enlaces {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    text-align: center;
}

.enlaces__link {
    position: relative;
    width: 7rem;
    padding: .5rem;
    margin-right: .5rem;
    color: rgb(17, 15, 15);
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(96, 152, 204);
    border: thin solid rgb(78, 78, 199);
    border-radius: 1rem;
    overflow: hidden;
}

.sombra1 {
    position: absolute;
    top: -10px;
    left: -30px;
    width: 1.5rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.979); 
    filter: blur(5px); 
    transform: rotate(45deg);
    transition: 2s;
}

.enlaces__link:hover .sombra1 {
    transform: translate(9rem);
}







/* ************ SOBRE MÍ ************* */

.presentacion {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.presentacion-info {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.presentacion-info h2 {
    font-size: var(--step-4);
}
.presentacion-info p{
    padding: 0 1rem;
    text-align: justify;
   font-size: 1.5rem;
}

.presentacion-img {
    display: flex;
    justify-content: center;
    align-items:center;
}

.presentacion img{
    width: 70%;
    object-fit: cover;
    filter: drop-shadow(0 0 10px rgb(96, 152, 204));
}


  /* *************************** HABILIDADES *************************** */

.habilidades {
    width: 100%;
    height: auto;
    /* margin: 10vh 0; */ 
}


.habilidades-iconsCards {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
 
.habilidades-icons {
    max-width: 23rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 1.5rem;
    border: .25rem solid rgb(96, 152, 204);
}

.habilidades-icons img {
    width: 75px;
    padding: .5rem 0;
    margin-left: auto;
    margin-right: auto;
}

.habilidades-icons div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.habilidades-titulo{
    font-weight: bold ;
} 

    /* *************************** PORTAFOLIO *************************** */

#portafolio1 {
    background-image: url(../imagenes/usuarios.jpg);
    background-size: cover;
    background-position: center;
}
#portafolio2 {
    background-image: url(../imagenes/pokemon.jfif);
    background-size: cover;
    background-position: center;
}

.portafolio {
    width: 100%;
}
.portafolio-evidencia {
    width: 90%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.portafolio-trabajos {
    position: relative;
    max-width: 450px;
    min-height: 30vh;
    max-height: 40vh;
    margin: 0 auto 3rem;
    border-radius: 10px;
    box-shadow: 5px -5px 10px 1px rgb(96, 152, 204);
    overflow: hidden;
}

.portafolio-trabajos__img {
    max-width: 100%;
    object-fit: cover;
    transition: 1s filter, 1s top;
}

.portafolio-trabajos__info {
    position: absolute;
    bottom: -7.2rem;
    width: 100%;
    height: auto;
    color: white;
    padding-left: .5rem;
    background-color: rgba(96, 152, 204, 0.267);
    transition: transform 1s, color 1s;
}

.portafolio-trabajos__info h4{
    font-size: var(--step-1);
}

.portafolio-trabajos:hover .portafolio-trabajos__info {
    transform: translateY(-7.5rem);
    background-color: rgba(96, 152, 204, 0.801);
    color: black;
}

.portafolio-trabajos__info h4 {
    margin-bottom: 2px;
    padding: .30rem;
    color: rgb(1, 27, 66);
    font-weight: bold;
}


.portafolio-info__tecnologias {
  margin: .1rem auto;
}

.portafolio-info__tecnologias img{
    width: 1.5rem;
}

.portafolio-info__tecnologias a {
    display: inline-block;
    margin-bottom: 2px;
    margin-left: .5rem;
    padding:.2rem 1rem;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: rgb(1, 27, 66);
    border: 2px solid rgb(1, 27, 66);
    border-radius: 20px;
}

.prueba {
    display: flex;
    justify-content: center;
}

.portafolio-info__tecnologias a:hover {
    border: 2px solid rgb(1, 27, 66);
    background-color: transparent;
    transform: scale(110%);
}




/* ***************************** FOOTER ******************* */

.contacto {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    background-image: url(../imagenes/footer.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacto h2 {
    margin: 1rem 0;
    color: white;
    font-size: 2rem;
    animation: entrada 1.5s ease;
}
    
.contacto-iconos {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    background-color: rgba(96, 152, 204, 0.678);
    box-shadow: 0 0 5px white;
    
    
}

.contacto-iconos a {
    margin: 1rem auto; 
    padding: .5rem;
    border: thin solid rgb(1, 27, 66);
    border-radius: .2rem;

}

.contacto-icono {
    font-size: 1.5rem;
    color: rgb(1, 27, 66);
}


@keyframes flotar {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-1rem);
    }
}
.contacto-iconos a:hover {
    animation: flotar 1s ease infinite alternate;
    box-shadow: 0 0 5px white;
}












/* ***************************** MEDIA QUERY ******************* */

@media (min-width:30em) {
    .card-section {
        max-width: 25rem;
        height: auto;
    }


    .portafolio-trabajos__info {
        bottom: -6.5rem;
    }
 }
 
 
 @media (min-width:37.5em) {
    .card-name {
        display: flex;
        justify-content: flex-start;
     }
     
     .card-section {
        margin-left: 2rem;
    }


    .habilidades-iconsCards {
        display: grid;
        grid-template-columns: repeat(2,minmax(250px,400px));
        column-gap: .5rem;
        justify-items: center;
        align-items: center;
    }
    
    .habilidades-icons {
        width: 100%;
    }

 }

 @media (min-width:48em) {
     .portafolio {
         width: 100%;
     }
    .portafolio-evidencia {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2,minmax(20rem,27rem));
        column-gap: 1.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .portafolio-trabajos {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .portafolio-trabajos__info {
        bottom: -7.5rem;
    }

    .active {
        visibility: visible;
    }

    .off-canvas-btn,
    .off-canvas-burger {
        visibility: collapse;
    }
}



 @media (min-width:64em) {
    .presentacion {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .presentacion-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }



    .habilidades-iconsCards {
        display: grid;
        grid-template-columns: repeat(3,minmax(250px,400px));
        column-gap: .5rem;
        justify-items: center;
        align-items: center;
    }
    
    .habilidades-icons {
        width: 90%;
    }


    .portafolio-trabajos__info {
        bottom: -7.5rem;
    }

    .portafolio-evidencia {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3,minmax(15rem,1fr));
        grid-template-rows: 35vh;
        grid-auto-rows: 35vh;
        column-gap: 2rem;
        margin-left: auto;
        margin-right: auto;
    }

    .portafolio-trabajos {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
 }


